.team {
  background-color: var(--secondary-bcg-color);
}

.team-style {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--primary-white-color);
}

.team-card-style {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.team-card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;

  color: var(--title-color);
}

.team-text {
  text-align: center;
  margin-bottom: 16px;
}

.team-socials {
  display: flex;
  justify-content: center;
}

.socials-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .socials-icon,
  &:focus .socials-icon {
    fill: var(--primary-white-color);
  }
}

.socials-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
