.footer {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);
}

.footer__cont {
  display: flex;
  align-items: baseline;
}

.footer-left__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  @include transition(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-right {
  margin-left: 70px;
}

.footer-right__title {
  color: var(--primary-white-color);
  @include font(700, 14px, 1.14);
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  @include transition(fill);
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-socials__icon {
  fill: var(--primary-white-color);
}
.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  margin-left: 93px;
  top: 0;
  left: 0;
}

.footer-form__label {
  display: flex;
  flex-flow: 1;
}

.footer-form__title {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font(400, 16px, 1.25);
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__button {
  width: 200px;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 13px;
  @include font(700, 16px, 1.875);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}
