.hero {
  background-color: var(--footer-bcg-color);
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  @include font(900, 44px, 1.36, 0.06em);
  margin-bottom: 30px;

  color: var(--primary-white-color);
}

.hero__button {
  width: 200px;
  height: 50px;
  border: 2px solid var(--accent-color);
  border-radius: 4px;

  @include font(700, 16px, 1.875);
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}
