.cardset {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.cardset__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.cardset-style {
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
  border-right: 1px solid var(--border-card);
  @include transition(box-shadow);
  &:hover,
  &:focus {
    box-shadow: var(--card-shadow);
  }
}

.cardset-style__thumb {
  position: relative;
  overflow: hidden;
}

.cardset-style__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;

  @include font(400, 18px, 1.56);
  transform: translateY(101%);
  @include transition(transform);
}

.cardset-style__link {
  text-decoration: none;
}

.cardset-style__link:hover .cardset-style__overlay,
.cardset-style__link:focus .cardset-style__overlay {
  transform: translateY(0%);
}

.cardset-style__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.cardset-style__title {
  @include font(700, 18px, 2);

  color: var(--title-color);
}

.cardset-style__text {
  margin-top: 4px;
  color: var(--primary-text-color);
}
