.details {
  display: block;
}

@media screen and (min-width: 768px) {
  .details {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.details__item {
  display: inline-block;
  // width: 100vw;
  margin-bottom: 30px;
  // width: 270px;
  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .details__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.details__title {
  @include font(700, 14px, 1.14);
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .details__title {
    text-align: left;
  }
}

.details__content {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // width: 270px;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .details__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
