.details {
  display: flex;
}

.details__item {
  display: inline-block;
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.details__title {
  @include font(700, 14px, 1.14);
  margin-bottom: 10px;

  color: var(--title-color);
}

.details__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
}
