.details {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}

.details__item {
  display: inline-block;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.details__title {
  @include font(700, 14px, 1.14);
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .details__title {
    text-align: left;
  }
}

.details__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
