.details {
  display: block;

  @media screen and (min-width: 481px) {
    display: flex;
  }
}

.details__item {
  display: inline-block;
  margin-bottom: 30px;
  // width: 270px;
  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
  }
}

.details__title {
  @include font(700, 14px, 1.14);
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-color);
}

.details__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  // width: 270px;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
}
