.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__button {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    @include font(500, 16px, 1.62);
    text-align: center;

    color: var(--title-color);
    background-color: var(--secondary-bcg-color);
    cursor: pointer;
    @include transition(box-shadow);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
