.form {
  padding: 40px;
}

.form__title {
  @include font(700, 20px, 1.15);

  color: rgba(33, 33, 33, 1);
  margin-bottom: 12px;
  text-align: center;
}

.form__button {
  padding: 10px 56px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
  &:focus,
  &:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-field {
  &__label {
    display: block;
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
    &:focus-within > .form-field__icon {
      fill: var(--accent-color);
    }
  }

  &__input {
    width: 100%;
    padding: 10px 20px;
    padding-left: 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-within {
      border-color: var(--accent-color);
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: #000000;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-textarea {
  display: block;
  margin-bottom: 20px;

  &__comment {
    resize: none;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      font-size: 12px;
      line-height: 1.16;

      color: rgba(117, 117, 117, 0.5);
    }
    &:focus-within {
      border-color: var(--accent-color);
      outline: none;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
}

.checkbox__input {
  &:checked + .checkbox__style {
    border-color: transparent;
    border-radius: 4px;

    fill: var(--primary-white-color);
    background-color: var(--accent-color);
    background-origin: border-box;
  }
}

.checkbox__link {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 1px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
  }
}
