.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);

  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: var(--primary-white-color);
  }
}

.socials__icon {
  @include transition(fill);
}
