.team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--primary-white-color);
}

.team-card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    @include font(500, 16px, 1.1875);
    text-align: center;
    margin-bottom: 10px;

    color: var(--title-color);
  }

  &__text {
    text-align: center;
    margin-bottom: 16px;
  }
}
