.work {
  padding-top: 0;
}

.work-style {
  display: flex;
}

.work-style__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-style__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: 1.14;
}
